.footer {
  background: #1c242c;
  padding: 45px 0px;
  &__content {
    display: flex;
    @media (max-width: $mw3) {
      display: block;
      text-align: center;
    }
  }
  &__column {
    &-full {
      flex: 1 1 auto;
    }
    &:last-child {
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      @media (max-width: $mw3) {
        align-items: center;
      }
    }
  }

  &__logo {
    display: inline-block;
    margin: 0px 0px 25px 0px;
  }

  &__info {
    color: #bb9c66;
    white-space: nowrap;
  }

  &__menu {
    padding: 0px 30px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    li {
      margin: 15px 15px 0px 0px;
    }
    @media (max-width: $mw3) {
      justify-content: center;
      margin: 15px 7px 0px 7px;
    }
  }

  &__link {
    color: #ffffff;
    font-family: "PFDin";
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    @media (min-width: 992px) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__phone {
    white-space: nowrap;
    display: flex;
    color: #bb9c66;
    font-family: "BravoRG";
    font-size: 50px;
    text-transform: uppercase;
    sup {
      font-size: 25px;
    }
  }

  &__callback {
    color: #bb9c66;
    background: url("../img/icons/r2.png") left no-repeat;
    padding: 0px 0px 0px 15px;
    span {
      border-bottom: 1px dashed;
    }
  }
}
