.header {
  background-color: #1c242a;
  &__body {
    position: relative;
    display: flex;
    align-items: center;
    height: 75px;
    @media (max-width: $mw3) {
      justify-content: space-between;
    }
  }

  &__logo {
    z-index: 25;
    width: 144px;
    @media (max-width: $mw3) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__menu {
  }

  &__action {
  }
}

.menu {
  padding: 0px 0px 0px 30px/970px * 100%;
  flex: 1 1 auto;
  @media (max-width: $mw3) {
    flex: 0 0 auto;
  }
  &__icon {
  }

  &__body {
    @media (max-width: $mw3) {
      z-index: 24;
      background-color: rgba(28, 36, 42, 0.99);
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 100px 0 20px 0;
      overflow: auto;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      &::after {
        content: "";
        background-color: #1c242a;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 75px;
      }
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    li {
      margin: 0 15px;
    }
    @media (max-width: $mw3) {
      display: block;
      text-align: center;
      li {
        margin: 0 0 30px 0;
        &:last-child {
          margin: 0;
        }
      }
    }
  }

  &__link {
    color: #ffffff;
    font-family: "PFDin";
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    @media (min-width: 992px) {
      &:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: $mw3) {
      font-size: 24px;
      line-height: 24px;
    }
  }
}
.icon-menu {
  @media (max-width: $mw3) {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 25;
    span {
      transition: all 0.5s ease 0s;
      top: calc(50% - 1px);
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #bb9c66;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &.active {
      span {
        transform: scale(0, 0);
        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}
.action-header {
  z-index: 25;
  display: flex;
  align-items: center;
  &__link {
    padding: 0px 0px 0px 30px;
    @extend .menu__link;
    min-width: 18px;
    min-height: 18px;
    background: url("../img/icons/globe.png") left no-repeat;
    @media (max-width: 890px) {
      padding: 0px 0px 0px 10px;
      span {
        display: none;
      }
    }
  }

  &__user {
    margin: 0px 0px 0px 30px;
    @media (max-width: 890px) {
      margin: 0px 0px 0px 15px;
    }
  }
}
.user {
  &__icon {
    cursor: pointer;
  }

  &__menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: all 0.3s ease 0s;
    top: 88px;
    right: 0;
    padding: 20px;
    background-color: #1c242a;
    @media (max-width: $mw3) {
      width: 100%;
    }
    li {
      margin: 0px 0px 10px 0;
      &:last-child {
        margin: 0;
      }
    }
    &._active {
      opacity: 1;
      visibility: visible;
      top: 78px;
    }
  }

  &__link {
    display: inline-block;
    color: #ffffff;
    font-weight: 400;
    line-height: 20px;
    padding: 0px 0px 0px 30px;

    &-1 {
      background: url("../img/icons/glom.png") 1px center no-repeat;
    }
    &-2 {
      background: url("../img/icons/key.png") left center no-repeat;
    }
    &-3 {
      background: url("../img/icons/palm.png") 3px center no-repeat;
    }
    &-4 {
      background: url("../img/icons/hammer.png") left center no-repeat;
    }
    @media (min-width: 992px) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//?-------------"burger"-menu----------
/*.icon-menu {
  @media (max-width: 767px){
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 25;
    span {
      transition: all 0.5s ease 0s;
      top: calc(50% - 1px);
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000000;
      &:first-child {
        top: 0px;
      }
      &:last-child {
        top: auto;
        bottom: 0px;
      }
    }
    &.active {
      span {
        transform: scale(0, 0);
        &:first-child {
          transform: rotate(-45deg);
          top: calc(50% - 1px);
        }
        &:last-child {
          transform: rotate(45deg);
          bottom: calc(50% - 1px);
        }
      }
    }
  }
}
*/
