//!------------Variables------------
$mxw: 970;
$mw1: $mxw + 14;
$mw2: 992.98px;
$mw3: 767.98px;
$mw4: 479.98px;
$bgc: #fff;
//!------------------------------------
//?------------mixin------------
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
//?------------------------------------

//?------------fonts------------

@import "fonts";

//*Default font:
$font_family: "PT Sans", sans-serif;
//?------------------------------------

//*------------styles------------
@import "reset";
//*------------------------------------

//TODO------------workplace------------
//*------------container------------
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: $bgc;
}
.container {
  max-width: $mxw + px;
  margin: 0 auto;
  padding: 0 10px;
}
//*-----------------ibg-------------------
//?-explanation of code to look at README-
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
}
//*---------------------------------------

@import "header";
@import "footer";
//*---------------------------------------
.decorate {
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 500px) {
      justify-content: center;
    }
  }

  &__line {
    width: 420px/970px * 100%;
    &-next {
      transform: rotate(-180deg);
    }
    img {
      width: 100%;
    }
    @media (max-width: 500px) {
      display: none;
    }
  }

  &__watch {
    padding: 0px 10px;
    @media (max-width: 500px) {
      padding: 0;
    }
  }
}

.title {
  text-align: center;
  &__item {
    color: #bb9c66;
    font-family: "Cerem";
    font-size: 40px;
    margin: 0px 0px 20px/40px * 1em 0px;
  }

  &__main {
    font-family: "PFDin";
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 5.25px;
    font-weight: 500;
    &-r {
      font-weight: 400;
    }
    &-w {
      color: #ffffff;
    }
    @media (max-width: $mw3) {
      font-size: 24px;
      letter-spacing: 2.5px;
    }
  }
}
.btn {
  display: inline-flex;
  padding: 0px 0px;
  height: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
  }
  &::before {
    background-color: #c2a674;
    top: 0;
  }
  &::after {
    bottom: 0;
    background-color: #8e652f;
  }
  &__body {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 3px;
      background-image: linear-gradient(to top, #8e652f, #c2a674);
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
    span {
      color: #ffffff;
      font-size: 15px;
      line-height: 21px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      display: block;
      padding: 0 50px;
      position: relative;
      text-align: center;
      &::after {
        content: "";
        height: 50%;
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
        background-image: linear-gradient(
          to top,
          #bb9c66 0%,
          rgba(187, 156, 102, 0) 100%
        );
        opacity: 0.06;
      }
    }
  }
  &-big {
    .btn__body span {
      font-size: 21px;
      color: #000;
      font-weight: 500;
      letter-spacing: 0;
      font-family: "PFDin";
      padding: 0 25px;
    }
  }
  @media (min-width: 992px) {
    &:hover {
    }
  }
}
//*---------------------------------------
.main-screen {
  position: relative;
  &__slider {
  }

  &__body {
  }

  &__item {
  }

  &__container {
    @media (max-width: $mw3) {
      margin: 0 10px;
    }
  }

  &__control {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100px;
    height: 100px;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
      content: "";
      background-color: #fff;
      position: absolute;
      width: 75%;
      height: 75%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
.item-main-screen {
  text-align: center;
  padding: 30px 0 100px 0;
  position: relative;
  &__content {
    position: relative;
    z-index: 5;
  }

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__text {
    max-width: 700px;
    margin: 25px auto 0 auto;
    color: #ffffff;
    font-size: 15px;
    line-height: calc(25 / 15);
  }
  &__btn {
    margin: 55px 0 0 0;
  }
}
.control {
  &__arrow {
    position: relative;
    z-index: 2;
    background: url("../img/icons/arprev.png") 0 0 no-repeat;
    width: 14px;
    height: 24px;
    cursor: pointer;
    &-prev {
    }
    &-next {
      transform: rotate(-180deg);
    }
  }

  &__decor {
    position: relative;
    z-index: 5;
    height: 26px;
    width: 26px;
    margin: 0 12px;
    animation: rotate 5s infinite linear;
  }
}
@keyframes rotate {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}
//*---------------------------------------
.lots {
  padding: 85px 0px 63px 0px;
  &__header {
  }

  &__slider {
  }
}
.block-header {
  &__decor {
    margin: 21px 0px 40px 0px;
  }
}

.control-lots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 0px 0px;
  &__arrow {
    span {
      background: url("../img/icons/larr.png") 0 0 no-repeat;
      width: 108px;
      height: 35px;
      flex: 0 0 108px;
    }
    &:last-child {
      flex-direction: row-reverse;
      span {
        transform: rotate(-180deg);
      }
    }
    cursor: pointer;
    align-items: center;
    display: flex;
    &::after {
      content: "";
      margin: 0 5px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 1px solid #bb9c66;
    }
  }

  &__link {
    background: url("../img/icons/circle.png") 0 0 no-repeat;
    flex: 0 0 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: #000;
    font-weight: 500;
    font-family: "PFDin";
    text-transform: uppercase;
    margin: 0px 20px;
  }
}

.slider-lots {
  &__body {
  }

  &__item {
  }
  &__control {
  }
}
.item-slider {
  &__body {
    display: flex;
    flex-direction: row;
    @media (max-width: $mw3) {
      flex-wrap: wrap;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    flex: 0 1 33.333%;
    margin: 0 100px 0 0;
    &:last-child {
      margin: 0;
    }
    @media (max-width: 956px) {
      margin: 0 5px 0 0;
    }
    @media (max-width: $mw3) {
      flex: 0 0 100%;
      margin: 0px 0px 10px 0px;
    }
  }
  &__header {
    text-align: center;
    margin: 0px 0px 30px 0px;
    position: relative;
  }
  &__bd {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
  }
  &__image {
    display: block;
    height: 250px;
    border: 3px solid #bb9c66;
    @media (max-width: $mw3) {
      height: 450px;
    }
  }

  &__timer {
  }

  &__title {
    color: #000000;
    font-family: "PFDin";
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    flex: 1 1 auto;
    margin: 0px 0px 30px/21px * 1em 0px;
    @media (max-width: $mw3) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &__info {
  }

  &__btn {
    margin: 0px 23px;
  }
}

.info-slider {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0px 0px 35px 0px;

  &__stats {
    text-align: center;
    flex: 0 0 50px;
  }

  &__icon {
    margin: 0px 0px 10px 0px;
  }

  &__text {
    padding: 0px 0px 5px 0px;
    border-bottom: 1px solid #bb9c66;
  }

  &__current {
    flex: 1 1 auto;
    text-align: center;
    padding: 0 10px/970px * 100%;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 72px;
      height: 72px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      border: 1px solid #bb9c66;
    }
    div {
      position: relative;
      z-index: 3;
    }
  }

  &__label {
  }

  &__value {
    font-family: "BravoRG";
    font-size: 50px;
    margin: 5px 0;
    line-height: 50px;
    white-space: nowrap;
    @media (max-width: $mw3) {
      font-size: 20px;
    }
  }

  &__currency {
  }
}

.timer {
  transform: translate(-50%, 50%);
  position: relative;
  width: 72px;
  height: 72px;
  display: inline-flex;
  padding: 4px 0 0 0;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  bottom: 0;
  &:before {
    content: "";
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-45deg);
  }
  div {
    z-index: 5;
  }
  &__icon {
    margin: 0 0 5px 0;
  }

  &__text {
    font-size: 18px;
    font-family: "PT Sans Narrow";
  }
}

//*---------------------------------------
//TODO------------------------------------
